/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .gma500-h1 {
     margin-top:20px !important;
     border-bottom: 2px solid ;
     border-bottom-style: ridge;
 }
 .error {
    transition: opacity 0.5s linear;
     color:red;
     display:block;
     cursor:default;
     max-width: 200px;
 }

 .gma500-form-hidden {
     display:none;
 }

 .gma500-shadow {
     display:none;
 }

 .gma500-product-image {
     width:120px;
     height:120px;
     margin:10px;
     box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
 }

.gma500-button-submit {
     width:120px;
 }
.gma500-banner-image {
    height:20vh;
    width:100%;
    object-fit:cover;
}
.gma500-textarea {
    width:100% !important;
    min-width: 100% !important;
}

.gma500-ajax { 
    opacity:0;
}
.gma500-ajax-error {
    padding:10px;
    border-radius: 5px;
        margin-bottom:10px;    
    opacity:1;
    padding:10px;
    border-radius: 5px;
    border:1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
    color:red;

}
.gma500-ajax-success {
    padding:10px;
    border-radius: 5px;
    margin-bottom:10px;    
    opacity:1;
    padding:10px;
    border-radius: 5px;
    border:1px solid green;
    background-color: rgba(0, 255, 0, 0.1);
    color:green;
    margin-bottom:10px;
}
#gma500-back-to-admin-button {
    margin-top:20px;
}

/*Product item part*/
.gma500-product-admin-label {
    border-bottom: 1px solid;
    font-size:10px;
    margin:3px;
}

.gma500-product-admin-value {
    margin:3px;
    margin-bottom:10px;
    font-size: 14px;
}
.gma500-product-admin-value-idgma {
    color: blue;
}
.gma500-product-image-item {
    width:150px;
    height:150px;
    margin:5px;
    margin-right:15px;
}

.gma500-product-admin-wrapper {
    display:flex;
    flex-flow: row;
    margin:5px;
    padding:5px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 3px;
    min-width:300px;
    max-width:300px;
}
.gma500-product-admin-wrapper:hover{
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
    cursor:pointer;
}
.gma500-usage-indicator {
    z-index: 1000;
    top:-20px;
    width:10px;
    height:10px;
    border-radius: 50%;
    margin-right:10px;
}

.gma500-product-in-use {
    background-color:red;
}
.gma500-product-not-in-use {
    background-color:greenyellow;
}
.gma500-product-in-use-color {
    color:red;
}
.gma500-product-not-in-use-color {
    color:green;
}

.gma500-box-shadow {
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.gma500-product-available{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:5px;
    margin-top:5px;
    font-weight: bold;

}

#admin-main-view-products-list {
    display:flex;
    flex-flow: column;
}

#gma500-admin-product-details-show-more-content {
    display:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding:10px;
}

/*user list*/
#gma500-admin-product-details-assign-more-content {
    display:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding:10px;
}
.gma500-user-list-item {
    display:flex;
    max-width:600px;
    justify-content:flex-start;
    align-content: center;
    min-height: 30px;
    margin:3px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
}
.gma500-user-list-item div {
    flex: 1;
    vertical-align: center;
    padding-left:10px;
    padding-right:10px;
}
.gma500-user-list-item div:last-child {
    flex: 3;
}
.gma500-user-list-item:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
.gma500-user-list-item.gma500-user-selected {
    box-shadow: 3px 1px 2px 0px rgba(0,0,0,0.5);
    font-weight: bold;
}
/*Unassign part*/
#gma500-admin-product-details-unassign-more-content {
    display:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding:10px;    
}

/*Controls part*/
#gma500-admin-product-details-controls-more-content {
    display:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding:10px;    
}

#gma500-admin-product-details-controls-add-form-wrapper {
    display:none;
}

.gma500-header {
    height:16px;
    max-height: 16px;
    min-height: 16px !important;
    font-weight: bold;
    cursor:default !important;
}
.gma500-controls-item {
    max-width:600px;
    padding:5px;
    min-height: 30px;
    margin:3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);      
}
.gma500-controls-wrapper {
    padding-left:5px;
    display:flex;
    justify-content:flex-start;
    align-content: center;
    margin-bottom:10px;
}
.gma500-controls-wrapper div {
    flex:1;
}



/*Historic part*/
#gma500-admin-product-details-historic-more-content {
    display: none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding:10px;    
}
.gma500-historic-item {
    max-width:600px;
    padding:5px;
    min-height: 30px;
    margin:3px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);      
}
.gma500-historic-wrapper {
    padding-left:5px;
    display:flex;
    justify-content:flex-start;
    align-content: center;
    margin-bottom:10px;
}
.gma500-historic-wrapper div {
    flex:1;
}
.gma500-historic-wrapper div:nth-child(2) {
    flex:2;
}
.gma500-historic-item-comment {
    font-size:10px;
    padding-left:5px;
}
.gma500-historic-item-email {
    font-size:10px;
}

/*Main part*/
.gma500-products-in-use-list-wrapper {
    background-color:white;
    padding:5px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);  
    display: flex;    
    justify-content: center;
    margin:3px;
}
.gma500-products-in-use-list-wrapper:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.gma500-products-in-use-list-wrapper div {
    flex:1;
    align-self: center;
}
.gma500-products-in-use-list-wrapper div:first-child {
    max-width:60px;
}

.gma500-image-small {
    width:50px !important;
    height:50px !important;
    margin:0px;
}

#gma500-admin-main-submit-add-product-page-button {
    margin:10px;
}

.gma500-controls-hot-list-wrapper {
    margin:3px;
    background-color:white;
    padding:5px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);  
    display: flex;    
    justify-content: center;
}
.gma500-controls-hot-list-wrapper:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.gma500-controls-hot-list-wrapper div {
    flex:1;
    align-self: center;
}
.gma500-controls-hot-list-wrapper div:first-child {
    max-width:60px;
}

.gma500-products-search-list-wrapper {
    background-color:white;
    padding:5px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);  
    display: flex;    
    justify-content: center;
    margin:3px;
}
.gma500-products-search-list-wrapper:hover {
    cursor:pointer;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.gma500-products-search-list-wrapper div {
    flex:1;
    align-self: center;
}
.gma500-products-search-list-wrapper div:first-child {
    max-width:60px;
}

.gma500-image-small {
    width:50px !important;
    height:50px !important;
    margin:0px;
}